# Pycharm thing
*.idea
*.ipynb_checkpoints
*.pyc
*.nfs*
*dumps
*.py.swp
*/temp_variants.pkl

# Files and directories for pipeline data conversion
*brca/

# Log files
*.log
/utilities/ns.txt
/utilities/dupes.txt
