.navbar-container {
    height: 80px;
}

li {list-style-type: none;}

.logos li {
	float: left;
	width: 150px;
	height: 100px;
	padding: 10px;
	text-align: center;
	line-height: 90px;
}

.logos img {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	vertical-align: middle;
}

.logo_block {
	margin-top: 20px
}

.text_logo {
	font-weight: bold;
	font-size: 50px;
}

.superscript {
	font-size: 80%;
	position: relative;
	top: -10px;
}

@keyframes emphasis {
	from {background-color: bisque;}
	to {background-color: white;}
}

th[role='columnheader']:hover .help, .help-target:hover .help {
	visibility: visible;
}

th[role='columnheader'] .help, .help-target .help {
	visibility: hidden;
}
