.navbar-container {
    height: 80px;
}

.nav > li > a {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
}

.navbar-brand > span {
    font-size: 30px;
    font-stretch: condensed;
}

.navbar-brand > span > .BRCA {
    color: #C03657;
}

.navbar-brand > span > .exchange {
    color: #E8A2A0;
}

.navbar {
    min-height: 70px;
    padding-top: 10px
}

.search-box {
    padding: 70px;
}

.search-box > input {
    width: 300px;
    height: 40px;
    border: 1px solid #E8A2A0;
}

input:focus{
    border: 1px solid #C03657;
    outline: none;
}

.search-box > Button {
    border: 0px;
}






li {list-style-type: none;}

.logos li {
	float: left;
	width: 150px;
	height: 100px;
	padding: 10px;
	text-align: center;
	line-height: 90px;
}

.logos img {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	vertical-align: middle;
}

.logo_block {
	margin-top: 20px
}

.text_logo {
	font-weight: bold;
	font-size: 50px;
}

.superscript {
	font-size: 80%;
	position: relative;
	top: -10px;
}

@keyframes emphasis {
	from {background-color: bisque;}
	to {background-color: white;}
}

th[role='columnheader']:hover .help, .help-target:hover .help {
	visibility: visible;
}

th[role='columnheader'] .help, .help-target .help {
	visibility: hidden;
}

.markdown img {
	width: 100%
}

.Variant-detail-title {
    margin: 20px;
}
