/**************************************************************/
/**********         NavBar                *********************/
/**************************************************************/

.navbar-container {
    height: 80px;
}

.nav > li > a {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-brand > span {
    font-size: 30px;
    font-stretch: condensed;
}

.navbar-brand > span > .BRCA {
    color: #C03657;
}

.navbar-brand > span > .exchange {
    color: #E8A2A0;
}

.navbar {
    min-height: 70px;
    padding-top: 10px
}

/**************************************************************/
/**********     Variant Search box       *********************/
/**************************************************************/

.home .search-box {
    padding: 70px;
}

/* XXX fixed width is not responsive */
.search-box > input {
    width: 400px;
    height: 40px;
    border: 1px solid #E8A2A0;
    text-align: left;
    font-size: 18px;
    text-indent: 4%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

input:focus {
    border: 1px solid #C03657;
    outline: none;
}

.search-box > Button {
    border: 0;
}

.search-box Button:hover {
    background-color: transparent;    
}

/**************************************************************/
/**********     Variant pagination        *********************/
/**************************************************************/
.pagination {
	margin: 0;
}

/**************************************************************/
/**********     Homepage text             *********************/
/**************************************************************/

.jumbotron {
    background-color: rgba(169,169,169, 0.13);
    margin: 20px;
}

/**************************************************************/
/**********     Homepage logo             *********************/
/**************************************************************/

li {list-style-type: none;}

.logo-block li {
	float: left;
    width: 300px;
	height: 120px;
    padding: 10px;
    line-height: 90px;
    text-align: center;
}

.logo-block img {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	vertical-align: middle;
}

.logo-block {
	margin: 40px;
    padding-left: 50px;
    padding-right: 30px;
    width: auto;
    text-align: center;
}

#BRCA-Exchange {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

#GA4GH {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
}

#human-variome-project {
    padding: 5px;
}

#ClinGen {
    padding: 5px;
}

#ENIGMA {
}

#CIMBA {
    padding: 10px;
}

/**************************************************************/
/**********     d3 lollipop plots         *********************/
/**************************************************************/

/* brush selection */
.selected {
    fill: lightblue;
    stroke-width: 4;
}

/* figure legend */
.breakLabels.nomuts {
    font-weight: normal;
    opacity: 0.3;
}

.noshow {
    opacity: 0.1;
}

.regionGroup:hover > text {
    fill: black;
    font-weight: bold;
    opacity: 1;
}

.regionGroup:hover > rect {
    stroke-width: 4;
}

.repeatedName.noshow {
    fill: black;
    opacity: 0;
}

.d3-tip {
    line-height: 1;
    font-size: 11px;
    color: black;
    font-weight: bold;
    padding: 10px;
    background: rgba(240, 240, 240, 0.8);
    border-width: 1px;
    border-color: rgba(190, 190, 190, 1);
    border-radius: 6px;
}

.d3-tip-selection {
    font-size: 12px;
    text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.6);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}


/**************************************************************/
/**********     Other                     *********************/
/**************************************************************/

circle.needle-head {
    fill-opacity: 0.6;
}

.superscript {
	font-size: 80%;
	position: relative;
	top: -10px;
}

@keyframes emphasis {
	from {background-color: bisque;}
	to {background-color: white;}
}

th[role='columnheader']:hover .help, .help-target:hover .help {
	visibility: visible;
}

th[role='columnheader'] .help, .help-target .help {
	visibility: hidden;
}

.markdown img {
	width: 100%
}

.Variant-detail-title {
    margin: 20px;
}
