version: 2
jobs:
   buildweb:
     circleci_ip_ranges: true
     docker: 
       - image: cimg/python:3.9-node 
       - image: circleci/postgres:9.6.2
         environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: storage.pg
     steps:
       - checkout
       - run:
           name: Setup npm
           working_directory: ~/project/website
           command: npm install
       - run:
           name: run linter
           working_directory: ~/project/website
           command: |
             mkdir ~/test_reports
             npm run lint -- -f junit -o ~/test_reports/lint-results.xml
       - run:
           name: run JavaScript tests
           working_directory: ~/project/website
           command: npm run test -- -R xunit --reporter-options output=~/test_reports/test-results.xml
       - run:
           name: Set up and run website backend tests
           command: |
             sudo apt-get update
             sudo apt-get install python3-dev python3-venv
             mkdir ~/project/website_virtualenv
             python3 -m venv ~/project/website_virtualenv
             source ~/project/website_virtualenv/bin/activate
             pip3 install -r ~/project/website/requirements.txt
             pip3 install -r ~/project/website/test-requirements.txt
             cd ~/project/website/django && python3 manage.py migrate
             python3 manage.py test
       - store_test_results:
           path: ~/test_reports
   deploy-dev:
     circleci_ip_ranges: true
     docker:
       - image: cimg/python:3.9-node 
     steps:
       - checkout
       - run:
           name: Setup npm
           working_directory: ~/project/website
           command: npm install
       - run:
           name: Set up environment for deployment.
           command: |
             sudo apt-get update
             sudo apt-get install rsync
             [[ ! -d ~/.ssh ]] && mkdir ~/.ssh
             cat >> ~/.ssh/config << EOF
                 VerifyHostKeyDNS yes
                 StrictHostKeyChecking no
             EOF
       - run:
           name: deploying to the dev machine
           command: ~/project/deployment/deploy-dev
   deploy-beta:
     circleci_ip_ranges: true
     docker:
       - image: cimg/python:3.9-node 
     steps:
       - checkout
       - run:
           name: Setup npm
           working_directory: ~/project/website
           command: npm install
       - run:
           name: Set up environment for deployment
           command: |
             sudo apt-get update
             sudo apt-get install rsync
             [[ ! -d ~/.ssh ]] && mkdir ~/.ssh
             cat >> ~/.ssh/config << EOF
                 VerifyHostKeyDNS yes
                 StrictHostKeyChecking no
             EOF
       - run:
           name: deploying to the beta machine 
           command: HOST=brcaexchange-prod.gi.ucsc.edu ~/project/deployment/deploy-dev
workflows:
   version: 2
   build-n-deploy:
     jobs:
       - buildweb:
           filters:
             tags:
               only: /.*/
       - deploy-dev:
           requires:
             - buildweb
           filters:
             branches:
               only: master
       - deploy-beta:
           requires:
             - buildweb
           filters:
             tags:
               only: /v[0-9]+(\.[0-9]+)*/
             branches:
               ignore: /.*/
