
# mandatory arguments
DATA_DATE := {{ DATA_DATE }}
WORK_DIR := {{ WORK_DIR }}

{% set RELEASE_TAG = RELEASE_TAG|default("data_release_" + DATA_DATE) %}
RELEASE_TAG := {{ RELEASE_TAG }}

# path to credential files for luigi (only used for earlier parts of pipeline)
CREDENTIALS_PATH := {{ CREDENTIALS_PATH | default(WORK_DIR + "/luigi_pipeline_credentials.cfg") }}

{% set PREVIOUS_RELEASE_DIR = PREVIOUS_RELEASE_DIR|default(WORK_DIR) %}
# path a previous data release archive. used to determine differences
PREVIOUS_RELEASE_PATH := {{ PREVIOUS_RELEASE_PATH | default(PREVIOUS_RELEASE_DIR + "/latest_release.tar.gz") }}
PREVIOUS_RELEASE_DIR := {{ PREVIOUS_RELEASE_DIR }}

# path to seqrepo instance downloads
{% set SEQ_REPO_DIR = SEQ_REPO_DIR|default("/data/seqrepo") %}
SEQ_REPO_DIR := {{ SEQ_REPO_DIR }}

{% set VICTOR_DATA_DIR = VICTOR_DATA_DIR|default("/data/victor") %}
VICTOR_DATA_DIR := {{ VICTOR_DATA_DIR }}

{% set VICTOR_IMAGE_DEFAULT_TAG = "0.1" %}
VICTOR_IMAGE := {{ VICTOR_IMAGE | default("brcachallenge/victor:" + VICTOR_IMAGE_DEFAULT_TAG) }}

# path to release notes
RELEASE_NOTES_PATH := {{ RELEASE_NOTES_PATH | default(WORK_DIR + "/release_notes_" + RELEASE_TAG + ".txt") }}

# directory for results
OUT_DIR := {{ OUT_DIR | default(WORK_DIR + "/data_out") }}

CODE_BASE := {{ CODE_BASE|default("../../..") }}
GIT_COMMIT := {{ GIT_COMMIT|default("master") }}
BRCA_GIT_REPO := {{ BRCA_GIT_REPO|default("https://github.com/BRCAChallenge/brca-exchange.git") }}

PIPELINE_IMAGE := {{ PIPELINE_IMAGE | default("brcachallenge/brca-exchange-pipeline:" + RELEASE_TAG) }}
RESOURCES_DIR := {{ RESOURCES_DIR|default(WORK_DIR + "/resources") }}

{% set PRIORS_IMAGE_DEFAULT_TAG = "0.0.9" %}

{% set PRIORS_IMAGE_TAG = PRIORS_IMAGE_TAG|default(PRIORS_IMAGE_DEFAULT_TAG) %}
PRIORS_IMAGE := {{ PRIORS_IMAGE | default("brcachallenge/splicing-pipeline:" + PRIORS_IMAGE_TAG) }}
PRIORS_REFERENCES := {{ PRIORS_REFERENCES|default(WORK_DIR + "/references") }}

# VR configurations

{% set VR_IMAGE_DEFAULT_TAG = "0.2" %}
VR_IMAGE := {{ VR_IMAGE | default("brcachallenge/append-vr-ids:" + VR_IMAGE_DEFAULT_TAG) }}

## UTA configurations

{% set UTA_RELEASE_DATE = UTA_RELEASE_DATE|default("20171026") %}
UTA_RELEASE_DATE := {{ UTA_RELEASE_DATE }}
UTA_DOCKER_IMAGE := {{ UTA_DOCKER_IMAGE | default("biocommons/uta:uta_" + UTA_RELEASE_DATE) }}
UTA_CONTAINER := {{ UTA_CONTAINER | default("uta_" + UTA_RELEASE_DATE) }}
UTA_PORT := {{ UTA_PORT | default("50828") }}

## varia

LOG_DIR := {{ LOG_DIR | default(WORK_DIR) }}
