certifi==2018.11.29
chardet==3.0.4
Django==1.9.13
django-cors-headers==1.1.0
django-jwt-auth==0.0.2
django-postgres-copy==2.3.7
django-utils==0.0.2
djangorestframework==3.4.3
djangorestframework-jwt==1.8.0
ga4gh-common==0.0.5
ga4gh-schemas==0.0.8
httmock==1.2.6
humanize==0.5.1
idna==2.7
protobuf==3.1.0
psycopg2==2.7.3.2
PyJWT==1.4.2
pyyaml==4.2b1
requests==2.20.0
six==1.12.0
tqdm==4.25.0
urllib3==1.24.1
django-postgres-copy==2.3.7
