/* Try to match bootstrap .dropdown */
.react-autosuggest__container {
	position: relative;
	display: inline-block;
	width: 100%;
}

/* Remove radius from input when dropdown is open, so
 * the dropdown looks connected.
 */
.react-autosuggest__container input[aria-expanded="true"] {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

/* Try to match bootstrap .dropdown-menu */
.react-autosuggest__suggestions-list {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

/* Try to match bootstrap .dropdown-menu > li > a */
.react-autosuggest__suggestion {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
	cursor: pointer;
}

/* Try to match bootstrap .dropdown-menu > li > a:focus */
.react-autosuggest__suggestion--highlighted,
.react-autosuggest__suggestion--focused {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}
